__pycache__/
recsim/__pycache__/
recsim/environments/__pycache__/
recsim/simulator/__pycache__/
*.pyc
myenv/
*.csv
*.jsonl

.venv*/
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
outputs/
